#!/bin/sh

#General Settings
protocol="ftp"
host="ftp.example.com"
port=21
user="user"
password="password"

localdir="/Backup"
remotedir="/Backup"

source=( "/etc/source" "/var/log/source" )


#Encryption Settings
key="user@example.com"  #You can supply an email or a key id here